<% content_for :categories do %>  
    <% @product_categories.each do |product_category| %>
      <div class="grid_2 alpha">
        <div class="cat">
          <%= link_to product_category.nev, product_types_path( :category=> product_category.id ) %>
        </div>
      </div>
    <% end %>  
<% end %>

