<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>P R I N T S H O P</title>
</head>

 Kategória id: <%=session[:product_category]%> | Termék type id: <%=session[:product_type_id]%><br />
<body>
  <b>F E J L É C</b>
  <hr />
  <%= yield  %>
  <br /><hr />
  <b>L Á B L É C</b>
</body>
</html>